.story-title.radio { /* http://www.northlandoutdoors.com/radio/ */
  margin-bottom: 20px;
}

.radio-tagline {
	font-weight: 300;
	margin-bottom: 30px;
}

.section-title {
  font-size: 25px !important;
}

.thisweek--date {
	display: none !important;
}

#upcoming .shows-content {
  background-color: #eeeeee;
}

#upcoming .shows-content li {
  margin-left: 35px;
	margin-right: 15px;
}

#upcoming .headline {
  font-weight: bold;
}

#upcoming .tagline {
  font-size: small;
}

.podcast-post {
  display: block;
  box-sizing: border-box;
  padding: 20px 0;
  width: 100%;
}

.podcast-title span{
  text-decoration: none !important;
  font-size: 25px;
  color: #555;
}
.podcast--segment{
  list-style-type: none;
  clear: both;
  overflow: auto;
  margin-left: 0px !important;
}

.podcast--number{
  font-size: 13px;
  color: #999;
}

.segment--title{
  width: 150px;
float: left;
margin-right: 15px;
margin-bottom: 10px;
position: relative;
}

.segment--titletext{
  display: none;
}
.segment--description{

  margin-bottom: 10px;
}

.segment--button{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiI+PHBhdGggZmlsbD0iI2QxNzcyOCIgZD0iTTM2IDE4YzAgOS45NDEtOC4wNTkgMTgtMTggMThzLTE4LTguMDU5LTE4LTE4YzAtOS45NDEgOC4wNTktMTggMTgtMThzMTggOC4wNTkgMTggMTh6Ij48L3BhdGg+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEzLjc4NiAyNy4wMDFsMi4zNzQtOS4wMDEtMi4zNzQtOS4wMDEgMTAuMjg4IDkuMDAxLTEwLjI4OCA5LjAwMXoiPjwvcGF0aD48L3N2Zz4=);
  background-size: 46px 46px;
  width: 46px;
  height: 46px;
  display: block;
  float: left;
  position: absolute;
  top: 7px;
  margin-right: 10px;
}

.segment--link{
  float: left;
  padding-left: 56px;
  color: #555;
  font-weight: 500;
}

.segment--link:hover{
  color: #999;
}

.segment--number{
  color: #999;
  font-weight: 400;
  font-size: 15px;

}

.segment--show{
  display: none;
}

@media (min-width : 481px){

  .segment--description{
    display: table-cell !important;
  }

  .segment--number{
    color: #555;
  }

}

@media only screen and (max-width : 480px){

.podcast-post{
  padding: 0;
}

.podcast-title{
	border-bottom: 1px solid #ccc;
	padding: 20px 0 10px 0;
}

.thisweek--titledate {
	display: none;
}

.thisweek--date {
	display: block !important;
}

.podcast--number{
  display: none;
}
.segment--title{
  width: 100%;
float: none;
margin-bottom: 10px;
padding: 0px;
display: block;
overflow: auto;
box-sizing: border-box;
}

.segment--titletext{
  display: block;
}

.segment--title a{
  width: 100%;
display: block;
box-sizing: border-box;
}

.segment--link{
margin: 0 90px 0 0;
box-sizing: border-box;
font-size: 16px;
padding-left: 46px;

}

.segment--button{
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}

.segment--show{
  display: inline;
width: 80px;
position: absolute;
bottom: 0; right: 0;
  font-size: 13px;

}

.show{
  display: block !important;
}

.segment--description{
  padding-left: 46px;
  font-size: 15px;
  display: none;
  float: left;
  display: none;
}

.podcast--segment{
  margin-bottom: 15px;
}

.radio-tagline {
	font-weight: 300;
	font-size: smaller;
	line-height: 140%;
  /*font-style:italic;*/
  margin: 10px 0px 30px 0px;
}

#upcoming .headline {
  font-weight: bold;
}

#upcoming .shows-content {
  line-height: 160%;
}

#upcoming .shows-content li {
  margin-left: 30px;
}

#upcoming .tagline {
  font-style:italic;
	font-size: small;
}

#upcoming span.tagline::before {
  content: "*";
}

/*--------------------------------------------------------------
# Radio Page Custom CSS (From Top News Theme options)
--------------------------------------------------------------*/
.story-title.radio { /* http://www.northlandoutdoors.com/radio/ */
  max-width: 950px;
  margin: auto;
  float: none;
}
.radio-wrapper {
  max-width: 950px;
  margin: auto;
  float: none;
}
.section-title {
  background-color: #3D3D36;
  color: #fff;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 0px!important;
  font-size: 30px !important;
}
.section-content {
  padding: 20px 0;
  box-sizing: border-box;
}
.section-content ul {
  /*background-color: #eeeeee;*/
  box-sizing: border-box;
  padding-right: 15px;
}

.section-stations li {
	margin-left: 30px !important;
}

.station-list {
  padding-bottom: 20px;
  overflow: auto;
}
.station-list li {
  width: 30%;
  height: 140px;
  float: left;
  margin: 0px 10px !important;
	margin-left: 0px;
  border-left: 1px solid #cccccc;
  padding: 15px !important;
  box-sizing: border-box;
  list-style: none;
}
.podcast-title {
  font-size: 20px;
  font-weight: 900;
}
.radio-contact {
  padding: 20px 0 0 0;
  box-sizing: border-box;

}
}
